    body {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    h1{
        margin-bottom: 70px;
    }


    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        margin-top: 70px;
        padding: 50px 0px 50px 0px;
    }

    .grid-container {
        display: grid;
        gap: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Desktop layout: 3 columns */
    @media (min-width: 992px) {
        .grid-container {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    /* Tablet layout: 2 columns, 3rd column below and full width */
    @media (min-width: 768px) and (max-width: 991px) {
        .grid-container {
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
                "item1 item2"
                "item3 item3";
        }

        .grid-item:nth-child(1) {
            grid-area: item1;
        }

        .grid-item:nth-child(2) {
            grid-area: item2;
        }

        .grid-item:nth-child(3) {
            grid-area: item3;
        }
    }

    /* Mobile layout: 1 column */
    @media (max-width: 767px) {
        .grid-container {
            grid-template-columns: 1fr;
        }
    }

    .grid-item {
        position: relative;
        background-color:gray;
        color: white;
        padding: 20px;
        border: 1px solid #ddd;
        overflow: hidden;
        padding-top: 50px;
        color: black;
        border: 2px solid black;
    }

    .box_inside_div{
        height: 15px;
        width: 100px;
        border: 2px solid black;
        position: absolute;
        top: 0px;
        right: 0px; 
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        
    }

    .b1{
        background-color: #f1df3a;
    }
    .b2{
        background-color: rgb(235, 147, 46);
    }
    .b3{
        background-color: beige;
    }

    